body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
    margin: 0 auto;
    max-width: initial;
    width: 90%;
}

.fixed {
  position: fixed;
  right: 20;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.normal {
	background-color: white;
	color: black;
}

.raised {
	background-color: #FFFE7A;
	color: black;
}

.medium {
	background-color: #E6BB48;
	color: black;
}

.warning {
	background-color: #E6A248;
	color: black;
}

.critical {
	background-color: red;
	color: black;
}
